{:paths ["src"]
 :deps {}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {lambdaisland/kaocha {:mvn/version "1.63.998"}}
         :exec-fn kaocha.runner/exec-fn
         :exec-args {}}
  :uberdeps {:replace-deps {uberdeps/uberdeps {:mvn/version "1.1.4"}}
             :replace-paths []
             :main-opts ["-m" "uberdeps.uberjar"]}}}